* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: ;

}

h2 {
    font-weight: 600;
}

.Container {
    width: 75%;
    margin: 50px auto;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    flex-direction: row;
    align-items: flex-start;
}

.Products {
    width: 60%;
}

nav a {
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-weight: 700;
}

.top-header {
    display: flex;
}

.Info {
    width: 50%;

}

.Info h1 {
    font-size: 45px;

}

.Info p {
    padding-bottom: 25px;

}

.Img {
    width: 50%;
}

.Img img {
    width: 65%;
}

button {
    background-color: #e02c6d;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    margin-top: 25px;
    color: white;
}

.Icon-bar {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    margin: auto;
}

.Icon-bar img {
    padding-right: 35px;
    text-align: center;
    width: 70px;

}

.Icon-bar:hover {
    border: 2px solid rgb(48, 162, 238);
}

.Course-Manu {
    text-align: center;
    width: 100%;
}

.Courses-Item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 25px;
    gap: 25px;
    justify-items: center;
}

.Cours {
    width: 315px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px 5px #ddd;
}

.Img img {
    width: 100%;
}

.Cours-Info {
    width: 100%;
    text-align: start;
    padding-left: 10px;
    line-height: 25px;
    padding-bottom: 15px;
}

.star {
    font-size: 13px;
    color: orange;
    margin-top: 0;
}

span {
    color: black;
    padding-left: 10px;
}

.Btn {
    float: right;
    padding-right: 25px;
    background-color: white;
    color: #f9035d;
    font-size: 15px;
}

.End-section {
    padding-left: 70px;
    margin-left: 55px;
}

.End-Info {
    padding-left: 70px;
    padding-right: 70px;
}

footer {
    background-color: #0a0826;
    text-align: center;
    color: white;
    padding-top: 35px;
    width: 100%;
}

footer h1 {
    margin-bottom: 10px;
    font-size: 27px;
}

footer p {
    margin-bottom: 10px;
    font-size: 15px;
}

footer nav a {
    color: white;
}

footer nav {
    padding-bottom: 25px;
}

@media screen and (max-width:576px) {


    h2 {
        font-weight: 400;
        font-size: 17px;
    }

    .Container {
        width: 100%;
        margin-left: 10px;
        padding: 0;
        justify-content: space-between;
        flex-direction: column-reverse;

    }

    .Courses-Item {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 25px;
        gap: 25px;
        justify-items: center;
    }

    .Cours {
        width: 100%;
    }

    .top-header {
        flex-direction: column-reverse;
    }

    .End-section img {
        width: 100%;
        margin-top: 15px;
    }

    .End-section {
        padding: 0;
        margin: 0px;
    }

    .End-Info {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        padding-left: 0;
        margin-top: ;

    }

    footer {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .Icon-bar {
        text-align: center;
    }

    .Info h1 {
        font-size: 25px;
    }

    .top-header {
        width: 100%;
        align-items: center;
    }

    .top-header .Info {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}